services:
  db:
    image: mysql:8.0
    container_name: actionary_db
    restart: no
    ports:
      - "3333:3306"
    environment:
      MYSQL_DATABASE: actionary_db
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      TZ: "Asia/Seoul"