services:
  actionary-db:
    restart: always
    volumes:
      - "./mysql_data:/var/lib/mysql"

  janus-gateway:
    network_mode: "host"
    volumes:
      - "./janus/janus.jcfg:/usr/local/etc/janus/janus.jcfg"
      - "./janus/janus.transport.http.jcfg:/usr/local/etc/janus/janus.transport.http.jcfg"
    restart: always

  actionary-be:
    image: ${DOCKER_USERNAME}/${DOCKER_REPO}:latest
    container_name: actionary_webserver
    restart: always

    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - TZ=Asia/Seoul

    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

    extra_hosts:
      - "host.docker.internal:host-gateway"

    depends_on:
      actionary-db:
        condition: service_started

    ports:
      - "8080:8080"

    env_file:
      - .env